In [1089]:
# -*- coding: utf8 -*-
import pandas as pd
import csv

In [1090]:
df = pd.read_excel("collegename.xlsx")

In [1091]:
df = df.astype({'college': 'string'})

In [1081]:
df['college'] = list(map(lambda x: x.strip(' ').split(), df['college']))

In [1082]:
for i in range(len(df['college'])):
    if len(df['college'][i]) == 3:
        df['college'][i].append(df['college'][i][2][-6:-3])
        df['college'][i].append(df['college'][i][2][-3:])
    if len(df['college'][i]) == 4:
        df['college'][i].append(df['college'][i][3][2:5])
        df['college'][i][3] = df['college'][i][3][0:2]    
    else:
        pass

In [1083]:
df['department'] = list(map(lambda x: x[1], df['college']))
df['dcode'] = list(map(lambda x: ''.join(x[2][0:4]), df['college']))
df['scode'] = list(map(lambda x: ''.join(x[2][4:7]), df['college']))
df['n1'] = list(map(lambda x: x[3], df['college']))
df['n2'] = list(map(lambda x: x[4], df['college']))
df['college'] = list(map(lambda x: x[0], df['college']))

In [1085]:
df.head()

  college department dcode scode  n1  n2
0  國立臺灣大學      中國文學系  0001   001  41  41
1  國立臺灣大學     外國語文學系  0002   001  73  73
2  國立臺灣大學       歷史學系  0003   001  36  36
3  國立臺灣大學        哲學系  0004   001  36  36
4  國立臺灣大學       人類學系  0005   001  32  32

In [1088]:
data = pd.DataFrame({'college':df['college'],'department':df['department'], 'dcode':df['dcode'], 'scode':df['scode'], 'n1':df['n1'], 'n2':df['n2']})
data.to_excel('collegename_clean.xlsx', sheet_name='sheet1', index=False)